@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/gray";

body,
.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;              /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: var(--card-bg);        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);    /* цвет бегунка */
  border-radius: 20px;       /* округлось бегунка */
  border: 2px solid var(--primary-color);  /* отступ вокруг бегунка */
}
