.SidebarRedesigned {
  background: var(--light-bg-redesigned);
  width: 220px;
  height: 100%;
  border-radius: 32px;
}

.appLogo {
  padding-top: 20px;
}

.links {
  margin-top: 20px;
  margin-left: 30px;
}
