.app_gray_theme {
  --bg-color: #4e4f62;
  --inverted-bg-color: #f4f4fb;
  --primary-color: #f4f4fb;
  --secondary-color: #3d474c;
  --inverted-primary-color: #3d474c;
  --inverted-secondary-color: #f4f4fb;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: #fff;
}
