.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #05053c;
  --primary-color: #041c65;
  --inverted-primary-color: #049604;
  --secondary-color: #0f59fb;
  --inverted-secondary-color: #04ff04;
}
