.Code {
  border: solid 1px var(--primary-color);
  padding: 20px;
  position: relative;
  background: var(--code-bg);
  overflow: scroll;
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.copyIcon path {
  stroke: var(--primary-color);
}
